$white: #FFFFFF;
$black: #000000;
$purple: #B727E3;
$gray: #71717A;
$green: #1BC5BD;
$blue: #3699FF;
$red: #F64E60;
$yellow: #F99E26;
$greenLight: #C9F7F5;
$blueLight: #E5F2FF;
$redLight: #FFE2E5;
$yellowLight: #FFF4DE;
$bodyApp: #F3F6F9;
$linesAndStroke: #E4E4E7;